<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<connectionStrings>
    <add name="dltjckjaConnectionString" connectionString="Data Source= .;Initial Catalog=dltjckja;User ID=dltuser;Password=4000007778" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITestSvc" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:17852/TestSvc.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITestSvc" contract="TestSvcRef.ITestSvc"
                name="BasicHttpBinding_ITestSvc" />
        </client>
    </system.serviceModel>
</configuration>