<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITestSvc" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WCFTest/TestSvc.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITestSvc" contract="TestSvcRef.ITestSvc"
                name="BasicHttpBinding_ITestSvc" />
        </client>
    </system.serviceModel>
</configuration>